.calculatorMain {
  display: flex;
  width: 100%;
}

.calcText {
  width: 50%;
  font-size: 2.5rem;
  padding-left: 2rem;
}

.calcContainer {
  width: 40%;
}

#resultDisplay {
  line-height: 30px;
  padding: 2rem;
  font-size: 2rem;
  text-align: right;
  font-weight: 600;
  background-color: #808080;
  color: #fff;
}

.buttons {
  display: grid;
  border: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(225, 224, 224);
}

.buttons div {
  border-top: 2px solid #b5aeae;
}

.btn {
  border: 1.5px solid #b5aeae;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
}

.btn:hover {
  cursor: pointer;
  background-color: #a29e9e;
}

.operation {
  background-color: rgb(243, 138, 32);
}

.operation:hover {
  background-color: rgb(198, 103, 7);
}

.lastRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column: 1 / -1;
  background-color: rgb(225, 224, 224);
}

@media (max-width: 768px) {
  .calcContainer {
    /* max-width: 70%; */
  }
}
